<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToDoList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ToDoList.Properties.Settings>
            <setting name="onetext" serializeAs="String">
                <value />
            </setting>
            <setting name="onebox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twotext" serializeAs="String">
                <value />
            </setting>
            <setting name="twobox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="threetext" serializeAs="String">
                <value />
            </setting>
            <setting name="threebox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fourtext" serializeAs="String">
                <value />
            </setting>
            <setting name="fourbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fivetext" serializeAs="String">
                <value />
            </setting>
            <setting name="fivebox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sixtext" serializeAs="String">
                <value />
            </setting>
            <setting name="sixbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="seventext" serializeAs="String">
                <value />
            </setting>
            <setting name="sevenbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eighttext" serializeAs="String">
                <value />
            </setting>
            <setting name="eightbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ninetext" serializeAs="String">
                <value />
            </setting>
            <setting name="ninebox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tentext" serializeAs="String">
                <value />
            </setting>
            <setting name="tenbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topbox" serializeAs="String">
                <value>False</value>
            </setting>
        </ToDoList.Properties.Settings>
    </userSettings>
</configuration>